@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --border: #eaeaea;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #333333;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply size-full;
  }
  body {
    @apply bg-background text-foreground;
  }
  li {
    @apply list-none;
  }
}
